body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #c2e8e8;
}

.container{
    width: 100%;
    max-width: 1000px;
    margin: 15px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    
    grid-template-areas: "header header header"
                         "text text gallery"
                         "text text gallery"
                         "footer footer footer";
    
    div .header, .text, .gallery, .footer {
       background: #fff;
       padding: 20px;
    }

    .header{
        grid-area: header;
        background-color: #7BF1A8;
        color: #fffdfd;
        border-radius: 5px;
        display: flex;
        
    li{
        list-style-type: none;
    }
    }
    .text{
        grid-area: text;
        background-color: #FFB60A;
        border-radius: 5px;
        max-height: 100%;
        
        h2{
            font-size: 32px;
        }
        p{
            text-align: left;
            margin-top: 15px;
        }
    }

    .gallery{
    grid-area: gallery;
    background-color: #FF9B85;
    border-radius: 5px;
    
    &{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap; 
    }
    p{
        text-align: center;
        margin: 40px; 
    }
    div{
        width: 200px;
        height: 200px;
        border-radius: 5px;
        background-color: #fff;
        margin: 10px;
    }
    }
    
    .footer{
        grid-area: footer;
        background-color: #EE6055;
        border-radius: 5px; 
    }
}

